.navbar { 
	border-radius: 0px; 
	margin-bottom: 0px;
}

.carousel-inner, .carousel, .item { 
	height: 45vh;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.yccl-flex-box {
	height: 100px; 
	width: 100px; 
	background-color: red; 
	border-radius: 100%;
	align-items: center; 
	display: flex; 
	justify-content: center;
}

.yccl-flex-box h3 { margin-top: 0px; }

.yccl-icon-rotation {
	padding: 5px;
}

.yccl-icon-rotation a:hover {
	text-decoration: none;
}

.yccl-icon-rotation img {
	height: 80px;
	margin: 0px auto;
}

.yccl-icon-rotation:hover { transform: scale(1.1); }
.yccl-icon-text { 
	text-align: center;
	margin: 10px;
}

.yccl-mt-5 { margin-top: 50px}
.yccl-mt-4 { margin-top: 40px}
.yccl-mt-3 { margin-top: 30px}
.yccl-mt-2 { margin-top: 20px}
.yccl-mt-1 { margin-top: 10px}

.yccl-mb-5 { margin-bottom: 50px}
.yccl-mb-4 { margin-bottom: 40px}
.yccl-mb-3 { margin-bottom: 30px}
.yccl-mb-2 { margin-bottom: 20px}
.yccl-mb-1 { margin-bottom: 10px}

.yccl-m-5 { margin: 50px}
.yccl-m-4 { margin: 40px}
.yccl-m-3 { margin: 30px}
.yccl-m-2 { margin: 20px}
.yccl-m-1 { margin: 10px}